.no-space {
    @include noSpace();
}

@mixin gap($x) {
    gap: $gap * $x;
}


/* Gap */

.gap {
    @include gap(1);
}

.gap-sm {
    @include gap(2);
}

.gap-md {
    @include gap(3);
}

.gap-lg {
    @include gap(4);
}


/* Padding */


/* Padding Small */

.p-sm {
    padding: $pad;
}

.p-top-sm {
    padding-top: $pad;
}

.p-bottom-sm {
    padding-bottom: $pad;
}

.p-left-sm {
    padding-left: $pad;
}

.p-right-sm {
    padding-right: $pad;
}

.px-sm {
    padding-left: $pad;
    padding-right: $pad;
}

.py-sm {
    padding-top: $pad;
    padding-bottom: $pad;
}


/* Padding Medium */

.p-md {
    padding: $pad * 2;
}

.p-top-md {
    padding-top: $pad * 2;
}

.p-bottom-md {
    padding-bottom: $pad * 2;
}

.p-left-md {
    padding-left: $pad * 2;
}

.p-right-md {
    padding-right: $pad * 2;
}

.px-md {
    padding-left: $pad * 2;
    padding-right: $pad * 2;
}

.py-md {
    padding-top: $pad * 2;
    padding-bottom: $pad * 2;
}


/* Padding Large */

.p-lg {
    padding: $pad * 3;
}

.p-top-lg {
    padding-top: $pad * 3;
}

.p-bottom-lg {
    padding-bottom: $pad * 3;
}

.p-left-lg {
    padding-left: $pad * 3;
}

.p-right-lg {
    padding-right: $pad * 3;
}

.px-lg {
    padding-left: $pad * 3;
    padding-right: $pad * 3;
}

.py-lg {
    padding-top: $pad * 3;
    padding-bottom: $pad * 3;
}


/* Padding Extra Large */

.p-xl {
    padding: $pad * 4;
}

.p-top-xl {
    padding-top: $pad * 4;
}

.p-bottom-xl {
    padding-bottom: $pad * 4;
}

.p-left-xl {
    padding-left: $pad * 4;
}

.p-right-xl {
    padding-right: $pad * 4;
}

.px-xl {
    padding-left: $pad * 4;
    padding-right: $pad * 4;
}

.py-xl {
    padding-top: $pad * 4;
    padding-bottom: $pad * 4;
}


/* Padding Gutter */

.p-gutter-left {
    padding-left: $gutter;
}

.p-gutter-right {
    padding-right: $gutter;
}


/* Margins */


/* Margin Small */

.m-sm {
    margin: $pad;
}

.m-top-sm {
    margin-top: $pad;
}

.m-bottom-sm {
    margin-bottom: $pad;
}

.m-left-sm {
    margin-left: $pad;
}

.m-right-sm {
    margin-right: $pad;
}

.mx-sm {
    margin-left: $pad;
    margin-right: $pad;
}

.my-sm {
    margin-top: $pad;
    margin-bottom: $pad;
}


/* Margin Medium */

.m-md {
    margin: $pad * 2;
}

.m-top-md {
    margin-top: $pad * 2;
}

.m-bottom-md {
    margin-bottom: $pad * 2;
}

.m-left-md {
    margin-left: $pad * 2;
}

.m-right-md {
    margin-right: $pad * 2;
}

.mx-md {
    margin-left: $pad * 2;
    margin-right: $pad * 2;
}

.my-md {
    margin-top: $pad * 2;
    margin-bottom: $pad * 2;
}


/* Margin Large */

.m-lg {
    margin: $pad * 3;
}

.m-top-lg {
    margin-top: $pad * 3;
}

.m-bottom-lg {
    margin-bottom: $pad * 3;
}

.m-left-lg {
    margin-left: $pad * 3;
}

.m-right-lg {
    margin-right: $pad * 3;
}

.mx-lg {
    margin-left: $pad * 3;
    margin-right: $pad * 3;
}

.my-lg {
    margin-top: $pad * 3;
    margin-bottom: $pad * 3;
}


/* Margin Extra Large*/

.m-xl {
    margin: $pad * 4;
}

.m-top-xl {
    margin-top: $pad * 4;
}

.m-bottom-xl {
    margin-bottom: $pad * 4;
}

.m-left-xl {
    margin-left: $pad * 4;
}

.m-right-xl {
    margin-right: $pad * 4;
}

.mx-xl {
    margin-left: $pad * 4;
    margin-right: $pad * 4;
}

.my-xl {
    margin-top: $pad * 4;
    margin-bottom: $pad * 4;
}


/* Height & Width */

.fix-both {
    height: 100%;
    width: 100%;
}

.fix-w {
    width: 100%;
}

.fix-h {
    height: 100%;
}


/* Alignment */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

.z-4 {
    z-index: 4;
}

.z-5 {
    z-index: 5;
}