@import './variables';
@import './defaults';
@import './spacing';
@import './grid';
@import './utils';
@import './partials';
@import './animation';

/* Custom Styles */

.bogs {
    height: 50vh;
}

.home-text {
    text-align: left;
}


/* Max 425px */

@media only screen and (max-width: 425px) {
    .home-text {
        text-align: center;
    }
}